policy_module(packetbeat, 1.0.0)

type packetbeat_t;
type packetbeat_exec_t;
init_daemon_domain(packetbeat_t, packetbeat_exec_t)

type packetbeat_initrc_exec_t;
init_script_file(packetbeat_initrc_exec_t)

type packetbeat_log_t;
logging_log_file(packetbeat_log_t)

type packetbeat_var_lib_t;
files_type(packetbeat_var_lib_t)

type packetbeat_unit_file_t;
systemd_unit_file(packetbeat_unit_file_t)

allow packetbeat_t self:fifo_file rw_fifo_file_perms;
allow packetbeat_t self:unix_stream_socket create_stream_socket_perms;
allow packetbeat_t self:capability { net_raw net_admin };
allow packetbeat_t self:netlink_netfilter_socket { create read write };
allow packetbeat_t self:packet_socket { read write create bind getopt ioctl map setopt };
allow packetbeat_t self:unix_dgram_socket { create ioctl };

manage_dirs_pattern(packetbeat_t, packetbeat_log_t, packetbeat_log_t)
manage_files_pattern(packetbeat_t, packetbeat_log_t, packetbeat_log_t)
manage_lnk_files_pattern(packetbeat_t, packetbeat_log_t, packetbeat_log_t)
logging_log_filetrans(packetbeat_t, packetbeat_log_t, { dir file lnk_file })

manage_dirs_pattern(packetbeat_t, packetbeat_var_lib_t, packetbeat_var_lib_t)
manage_files_pattern(packetbeat_t, packetbeat_var_lib_t, packetbeat_var_lib_t)
manage_lnk_files_pattern(packetbeat_t, packetbeat_var_lib_t, packetbeat_var_lib_t)
files_var_lib_filetrans(packetbeat_t, packetbeat_var_lib_t, { dir file lnk_file })

auth_use_nsswitch(packetbeat_t)
container_stream_connect(packetbeat_t)
corenet_tcp_connect_http_port(packetbeat_t)
dev_list_sysfs(packetbeat_t)
dev_read_sysfs(packetbeat_t)
domain_use_interactive_fds(packetbeat_t)
fs_read_cgroup_files(packetbeat_t)
fs_search_cgroup_dirs(packetbeat_t)
init_read_state(packetbeat_t)
kernel_read_network_state(packetbeat_t)
kernel_read_system_state(packetbeat_t)
kernel_request_load_module(packetbeat_t)
sysnet_dns_name_resolve(packetbeat_t)
